$primary:#222;
$secondary:#eee;
$text:yellow;

*{
    margin:0;
    padding:0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    color:$secondary;
    line-height: 1.6;
}

h1{
    line-height: 1.6;
}

.wrapper{
    position: relative;
    min-height: 55vw;
    width:100vw;
    overflow:hidden
}

.layer{
    position: absolute;
    min-height: 55vw;
    width:100vw;
    overflow:hidden;

    .content-wrapper{
        position: absolute;
        min-height: 55vw;
        width:100vw;
    }
    
     .content-body{
        width:25%;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        text-align: center;
    }
}



.content-wrapper img{
    position: absolute;
    top:50vh;
    left:50vw;
    width:35%;
    transform: translate(-50%,-50%);
}

.bottom{
    background: $primary;
    z-index: 1;
}

.bottom .content-body{
    right:5%
}

.top{
    background:#eee;
    color:#222;
    z-index:2;
    width:50vw;
    transform: skew(-30deg);
    left:-1000px;
    width: calc(50vw + 1000px);
  }
  
  .top .content-body{
    left: 5%;
    color:#222;
  }
  
  .handle{
    position: absolute;
    height: 100%;
    display: block;
    background-color: #FDAB00;
    width:5px;
    top:0;
    left: 50%;
    z-index:3;
    top:50%;
    transform:rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin:top;
  }
  
  .top .content-wrapper{
    transform: skew(30deg);
    left:1000px;
  }
  
  @media(max-width:768px){
    body{
      font-size:75%;
    }
  }